<div class="header">
  <div class="hello-text">Hello Kadin Septimus<span>
      <p class="date-text">{{LocalDate}} </p><span>
        <p> </p>
      </span>
    </span></div>

  <div class="search">
    <form action="">

      <input id="search-input-sidenav" placeholder="search" type="search" class="form-control" />

    </form>
  </div>


  <!-- <div class="input-group">
        <mdb-form-control>
          <input mdbInput type="search" id="form1" class="form-control" />
          <label mdbLabel class="form-label" for="form1">Search</label>
        </mdb-form-control>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div> -->
  <div class="user">
    <mat-icon>notifications_none</mat-icon>
    <div class="user-name">Kadin Septimus</div>
    <div class="user-image">KS</div>
    <div class="logout"><button class="btn" routerLink="/logout"><mat-icon> settings_power </mat-icon></button></div>
  </div>
</div>