<!-- <!DOCTYPE html>
<html>
 
<head>
  <meta charset="utf-8">
  <title>ZingSoft Demo</title>
 
  <script nonce="undefined" src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
    }
 
    #myChart {
      height: 100%;
      width: 100%;
      min-height: 150px;
    }
 
    .zc-ref {
      display: none;
    }
  </style>
</head>
 
<body>
  <div id='myChart'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a></div>
  <script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    window.feed = function(callback) {
      var tick = {};
      tick.plot0 = Math.ceil(350 + (Math.random() * 500));
      callback(JSON.stringify(tick));
    };
 
    var myConfig = {
      type: "gauge",
      globals: {
        fontSize: 25
      },
      plotarea: {
        marginTop: 80
      },
      plot: {
        size: '100%',
        valueBox: {
          placement: 'center',
          text: '%v', //default
          fontSize: 35,
          rules: [{
              rule: '%v >= 700',
              text: '%v<br>EXCELLENT'
            },
            {
              rule: '%v < 700 && %v > 640',
              text: '%v<br>Good'
            },
            {
              rule: '%v < 640 && %v > 580',
              text: '%v<br>Fair'
            },
            {
              rule: '%v <  580',
              text: '%v<br>Bad'
            }
          ]
        }
      },
      tooltip: {
        borderRadius: 5
      },
      scaleR: {
        aperture: 180,
        minValue: 300,
        maxValue: 850,
        step: 50,
        center: {
          visible: false
        },
        tick: {
          visible: false
        },
        item: {
          offsetR: 0,
          rules: [{
            rule: '%i == 9',
            offsetX: 15
          }]
        },
        labels: ['300', '', '', '', '', '', '580', '640', '700', '750', '', '850'],
        ring: {
          size: 50,
          rules: [{
              rule: '%v <= 580',
              backgroundColor: '#E53935'
            },
            {
              rule: '%v > 580 && %v < 640',
              backgroundColor: '#EF5350'
            },
            {
              rule: '%v >= 640 && %v < 700',
              backgroundColor: '#FFA726'
            },
            {
              rule: '%v >= 700',
              backgroundColor: '#29B6F6'
            }
          ]
        }
      },
      refresh: {
        type: "feed",
        transport: "js",
        url: "feed()",
        interval: 1500,
        resetTimeout: 1000
      },
      series: [{
        values: [755], // starting value
        backgroundColor: 'black',
        indicator: [10, 10, 10, 10, 0.75],
        animation: {
          effect: 2,
          method: 1,
          sequence: 4,
          speed: 900
        },
      }]
    };
 
    zingchart.render({
      id: 'myChart',
      data: myConfig,
      height: 500,
      width: '100%'
    });
  </script>
</body>
 
</html> -->
<div *ngFor="let chart of chartData;let i = index">
  <div class="card-container" *ngIf="filterPointersData[i]">
<ejs-circulargauge style='display:block;' (load)='load($event)' centerY='35%' background='transparent'>
  <e-axes>
    <e-axis radius='120%' startAngle=270 endAngle=90 minimum=0 maximum=120 rangeGap=3 [majorTicks]='ticks'
      [minorTicks]='ticks' [lineStyle]='lineStyle' [labelStyle]="labelStyle">
      <e-pointers>
        <e-pointer [value]='chart.value' radius='60%' pointerWidth=10 needleStartWidth="1"
          needleEndWidth="1" [cap]="cap" [textStyle]="textStyle" [animation]="animation"
          fill="transparent">
        </e-pointer>
        <e-pointer [value]='filterPointersData[0]?.value' radius='85%'
          [text]='filterPointersData[0]?.title' pointerWidth=10 markerShape="Text" type="Marker"
          [textStyle]="textStyle" [animation]="animation" fill="transparent">
        </e-pointer>
        <e-pointer [value]='filterPointersData[1]?.value' radius='85%'
          [text]='filterPointersData[1]?.title' pointerWidth=10 markerShape="Text" type="Marker"
          [textStyle]="textStyle" [animation]="animation" fill="transparent">
        </e-pointer>
        <e-pointer [value]='filterPointersData[2]?.value' radius='85%'
          [text]='filterPointersData[2]?.title' pointerWidth=10 markerShape="Text" type="Marker"
          [textStyle]="textStyle" [animation]="animation" fill="transparent">
        </e-pointer>
        <e-pointer [value]='filterPointersData[3]?.value' radius='85%'
          [text]='filterPointersData[3]?.title' pointerWidth=10 markerShape="Text" type="Marker"
          [textStyle]="textStyle" [animation]="animation" fill="transparent">
        </e-pointer>
        <e-pointer [value]='filterPointersData[4]?.value' radius='85%'
          [text]='filterPointersData[4]?.title' pointerWidth=10 markerShape="Text" type="Marker"
          [textStyle]="textStyle" [animation]="animation" fill="transparent">
        </e-pointer>
      </e-pointers>
      <e-ranges>
        <e-range start=0 end=20 radius='80%' startWidth=85 endWidth=85 color='#dd3800'></e-range>
        <e-range start=20.5 end=40 radius='80%' startWidth=85 endWidth=85 color='#ff4100'></e-range>
        <e-range start=40.5 end=60 radius='80%' startWidth=85 endWidth=85 color='#ffba00'></e-range>
        <e-range start=60.5 end=90 radius='80%' startWidth=85 endWidth=85 color='#ffdf10'></e-range>
        <e-range start=90.5 end=120 radius='80%' startWidth=85 endWidth=85 color='#8be724'></e-range>
      </e-ranges>
      <e-annotations>
        <e-annotation
          content='<div style="font-size:14px;margin-top:10px;">{{filterPointersData[i]?.type}}</div>'
          angle=180 radius='28%' zIndex='1'>
        </e-annotation>
      </e-annotations>
    </e-axis>
  </e-axes>
</ejs-circulargauge>
  </div>
  </div>