<div class="section">
  <div class="middle-section">
    <div class="widget left">
      <app-billable-fresher></app-billable-fresher>
    </div>
    <div class="widget middle">
        <app-fresher-pyramid></app-fresher-pyramid>
    </div>
    <div class="widget right">
      <app-attrition></app-attrition>
    </div>
  </div>
  <div class="bottom-section">
    <div class="widget left">
      <app-trio></app-trio>
    </div>
    <div class="widget middle">
        <app-aws></app-aws>
    </div>
    <div class="widget right">
      <app-rotation></app-rotation>
    </div>
  </div>
</div>