.section{
  margin-left: 20px;
}
  .middle-section {
    display: flex;
    justify-content: space-between;

    .widget {
      height: 230px;
      background-color: #fff;
      border-radius: 5px;
      margin: 10px;
      margin-top: 10px;
      box-shadow: 5px 5px 5px #939393;
      &.left {
        width: 300px;

      }
      &.middle{
        width: 300px;
      }
      &.right {
        width: 300px;
      }
    }
  }
  .bottom-section {
    display: flex;
    justify-content: space-between;
    .widget {
      height: 230px;
      background-color: #fff;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 5px 5px 5px #939393;
      &.left {
        width: 300px;

      }
      &.middle{
        width: 300px;
      }
      &.right {
        width: 300px;
    }
  }
}