<!-- <div class="main-container">
<div class="logo-container">
  <img class="logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBaoM8yg2_ZJ-vzsmg_wD-9NaUllbAZdIXug&usqp=CAU"
    alt="logo">
  <div class="text-container">
    <h1 class="heading">CCA-Cockpit</h1>
    <p class="text">powered by ETAP</p>
  </div>

</div> -->
<!-- <div class="form">
  <form class="border p-3 rounded-3" [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">
    <div class="row g-0">
      <div class="col text-center p-2 mb-3 bg-light">
        <span class="fs-3">Login</span>
      </div>
    </div>
    <div class="row">
      <div class="col-mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">Email
          is required.</div>
        <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">Email is
          invalid.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-mb-3">
        <label for="pwd" class="form-label">Password</label>
        <input type="password" class="form-control" id="pwd" formControlName="pwd">
        <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)">Password is
          required.</div>
        <div class="form-text text-danger"
          *ngIf="PWD.errors?.['minlength'] || PWD.errors?.['maxlength'] && (PWD.dirty || PWD.touched)">Password should
          be minimum 8 and maximum 15 characters long.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3">
        <div class="d-grid">
          <button routerLink="/dashboard1" type="submit" [disabled]="loginForm.invalid"
            class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span>Don't have an account?</span><a routerLink="/register">Register</a>
      </div>
    </div>
  </form>
</div> -->



<!-- <div class="container">
  <div class="center">
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">

      <div class="form-outline mb-4">
        <input type="email" class="form-control" id="email" class="form-control" formControlName="email" />
        <label class="form-label" for="email">Email address</label>
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">Email
          is required.</div>
        <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">Email is
          invalid.</div>
      </div>

      <div class="form-outline mb-4">
        <input type="password" id="pwd" class="form-control" formControlName="pwd" />
        <label class="form-label" for="pwd">Password</label>
        <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)">Password is
          required.</div>
        <div class="form-text text-danger"
          *ngIf="PWD.errors?.['minlength'] || PWD.errors?.['maxlength'] && (PWD.dirty || PWD.touched)">Password should
          be minimum 8 and maximum 15 characters long.</div>
      </div>
    </form>


  <div class="row mb-4">
    <div class="col d-flex justify-content-center">

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    </div>

    <div class="col">

      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <button routerLink="/dashboard1" type="submit" [disabled]="loginForm.invalid"
    class="btn btn-primary btn-block mb-4">Sign in</button>

  <div class="text-center">
    <p>Not a member? <a routerLink="/register">Register</a></p>
  </div>


  </div>
</div> -->

<!-- <div class="small-text">Capgemini Public</div>

</div> -->

<router-outlet></router-outlet>