<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="assets/img/cockpit.png" alt="">
            </div>
        </a>
        <a href="/" class="simple-text logo-normal">CCA-Cockpit</a>
    </div>
    
    <ul class="nav">
        <li class="text"><a routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</a></li>
        <li class="text"><a routerLink="/scorecard"><mat-icon>view_list</mat-icon>Sample Option</a></li>
    </ul>

</div>