<div class="main-container">
<div class="logo-container">
    <img class="logo" src="assets/img/cockpit.png" alt="logo">
    <div class="text-container">
      <h1 class="heading">CCA-Cockpit</h1>
      <p class="text">powered by ETAP</p>
    </div>
  </div>
  <!-- <div class="lines-container"> -->
    <h1 class="logout-text">You have successfully Logged out, Thank You!</h1>
  <!-- </div> -->
  <div class="container">
    <div class="center">
      <a routerLink="/" routerLinkActive="active"><button  class="login-button" >Go back to Login</button></a>
    </div>
  </div>
  
  <div class="small-text">Capgemini Public</div>

</div>