.mask{
    margin-top: 100px;
}
.bg-image{
    height: 400px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mask{
  height: 341px;

  padding: 30px;
  justify-content: center;
}
.card-body{
  align-items: center;
}
.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;

    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }

    *{
      margin: 0;
      padding: 0;
      /* box-sizing: border-box; */
    }

    section{
      position: relative;
      color: #fff;
    height: 97.3vh;
    width: 100%;
    background-size: cover;
    background: url("https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center center;
    }

    .form-outline input{
      width: 100%;
      display: block;
      padding: 10px;
      color: #222;
      border: none;
      outline: none;
      margin: 1em 0;
  }
  .control input[type="submit"]{
    width: 100%;
    background: crimson;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .8;
    transition: opacity .3s ease;
}
.control input[type="submit"]:hover{
  opacity: 1;
}
.form-container{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0,0,0,0.3));
  width: 380px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 60px #000;
}
h1{
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}